

body {
    margin-right: 40px !important;
    margin-left: 40px !important;
    font-family: 'Abel', sans-serif !important;
    scroll-padding-block: inherit; /* for scrolling */
}

div.title {
    text-align: left;
}

.search-button {
  background: linear-gradient(135deg, #9ec2f9, #0010ca);
  color: white;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 75px;
  height: 30px;
  font-size: 15px;
  font-family: 'Abel', sans-serif;
}

#form, .form-control {
    width: 175px;
    list-style: none;
    list-style-type: none;
    padding:0% !important;
}

/* id dropdown's price range */
#form0 {
    width: 75px !important;
    list-style-type: none;
    list-style: none;
    padding:0;
}

#titlos {
    font-size: 40px !important;
    text-decoration: none;
    color: black;
    font-family: 'Rajdhani', sans-serif !important;
    cursor: pointer;
    --webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

.nav {
    list-style-type: none !important;
    margin: 0 !important;
    padding-left: 35% !important;
    background-color: #333 !important;
    letter-spacing: 2px;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    font-size: 22px;
}

.dropdowns {
    list-style: none;
    list-style-type: none !important;
    margin: 0 !important;
    /* background-color: transparent !important; */
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    border-style: groove;
    border-top: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: #333;
    display: inline-block;
    color: black !important;
    text-align: left;
    text-decoration: none;
    padding-left: 0 !important;
    background: linear-gradient(271deg, #dcdee1, #9cc1ec, #ceddf0, #e1e9f3);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
  }

 #aboutus, #faqs, #contact, #property {
    float: left;
    display: block;
    color: white !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#aboutus:hover, #faqs:hover, #contact:hover, #property:hover {
    background-color: #111;
    cursor: pointer;
}

.site-main {
    margin-bottom: 0em;
}

div.content-area {
    margin-bottom: 0em;
}

div.page {
    margin-bottom: 0em;
}

/*  GRADIENT ANIMATOR */

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-28 13:53:36
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */

@-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
}

@keyframes slide-top {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-100px);
              transform: translateY(-100px);
    }
}
  
  
  
  
  
  
  