body {
    margin-right: 40px;
    margin-left: 40px;
    font-family: 'Abel', sans-serif;

}

div.title {
    text-align: left;
}


#titlos  a {
    font-size: 40px !important;
    text-decoration: none;
    color: black;
    font-family: 'Rajdhani', sans-serif !important;
}


.nav {
    list-style-type: none !important;
    margin: 0 !important;
    padding-left:40%  !important;
    overflow: hidden !important;
    background-color: #333 !important;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 5px;
    font-size: 22px;
}

span{
    font-size: 14px;
    margin-left: 10px;
    margin-right:10px;
}

li {
   float:left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#drops {
    margin-top: 17px;
    margin-left: 12px;
}

select {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    color: black;
}

#letsgo {
    font-family: 'Abel', sans-serif;
    font-size: 17px;
    color: black;
    border-radius: 5px;
}