CoveoResult {
    vertical-align: middle;
    color: black;
    background-color: #f4f4f4;
    border:none;
    border-radius: 20px;
    font-family: Abel,sans-serif;
    font-size: 16px;
}
/* span{
    margin-left: 220px!important;
    width: 100%;
    display: table-row!important;
    row-gap: normal;
} */

pre{
    border:none;
    font-family: Abel,sans-serif;
}